@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}


body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.textBox {
  width: 60%;
  border-radius: 10pt;
  background-color: #5d45d9;
  padding-top: 2pt;
  padding-bottom: 2pt;
  padding-left: 10pt;
  padding-right: 10pt;
  margin: 1pt;
}

.textBox:focus {
  border: white solid 1pt;
  margin: 1pt;
  outline-width: 0;
}